name: Publish to FlakeHub

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    name: Publish to FlakeHub
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      
      - name: Publish to FlakeHub
        uses: DeterminateSystems/flakehub-push@main
        with:
          visibility: public
          name: Luckystrike561/jarvis
          tag: ${{ github.ref_name }}
