name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Install Devbox
        uses: jetify-com/devbox-install-action@v0.11.0
        with:
          enable-cache: true
      
      - name: Run tests
        run: devbox run test
